.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  &-fluid {
    max-width: 1180px;
    padding: 0 130px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 428px) {
    padding: 0 20px;
  }
}

.btn {
  display: inline-block;
  outline: none;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  background-color: white;
  border-radius: 2px;
  width: fit-content;
  &-primary {
    padding: 16px 30px;
    background-color: $primary-color;
    font-size: 14px;
    color: white;
  }
  &-secondary {
    padding: 16px 30px;
    border: 1px solid $primary-color;
    font-size: 14px;
    color: $primary-color;
  }
  &-thirdly {
    padding: 16px 47px;
    font-size: 16px;
    color: $primary-color;
  }
}

.logo {
  width: 78px;
  height: 28px;
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  color: $neutral-300;
}

.text-heading {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.text-more {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: $neutral-500;
  text-decoration: none;
  display: block;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 10px;
    top: 50%;
    z-index: -1;
    background-color: $feature-detail-color;
  }
}
