.partner {
  &-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 220px;
  }

  &-list {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    &-container {
      margin-bottom: 140px;
    }
  }
  @media screen and (max-width: 540px) and (max-width: 767px) {
    &-list {
      justify-content: center;
      gap: 30px 45px;
      width: 100%;
      justify-content: center;
    }
  }
  
}
