$primary-color: #6c63ff;
$neutral-300: #9893a3;
$neutral-400: #717082;
$neutral-500: #2f2e41;
$border-link-active: #9e99ff;
$feature-detail-color: #e2e0ff;
$pricing-background: #ecebff4d;
$footer-color: #ecebff99;
